asgiref            
certifi             
Django              
django-cors-headers 
mysqlclient         
pip                 
setuptools          
sqlparse            
tzdata              
wheel               
wincertstore        
xlwt                